<h1 class="logh1">
  <%=title%>
</h1>


<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error=> { %>
      <li>
        <%= error.msg %>
      </li>
      <% }) %>
  </ul>
  <% } %>


    <div class="flash-home">
      <%- messages() %>
    </div>



<!-- Greeting by first name -->
<h2>
  Welcome <%= accountData.account_firstname %>
</h2>

<p>You're logged in as: <strong>
    <%= accountData.account_firstname %> <%= accountData.account_lastname %>
  </strong></p>
<p>Email: <strong>
    <%= accountData.account_email %>
  </strong></p>
<p>Account Type: <strong>
    <%= accountData.account_type %>
  </strong></p>

<!-- Update Account Information link (for all users) -->
<h2>Account Info</h2>
<p>
  <a href="/account/update">Edit Account Information</a>
</p>

<!-- Admin & Employee ONLY -->
<% if (accountData.account_type === "Employee") { %>
  <h2>Inventory management</h2>

  <p>
    <a href="/inv/">Manage Inventory</a>
  </p>
<% } %>
